* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
  color: wheat;
}
header {
  text-align: left;
}

main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.Selection ul {
  display: grid;
  gap: 0.5rem;
}

.selection li:hover {
  background-color: rgb(71, 71, 71);
  font-weight: bold;
  cursor: pointer;
}

.details {
  padding: 0.25rem;
}
button {
  background-color: white;
  color: black;
}
button:hover {
  background-color: rgb(238, 212, 174);
  color: aquamarine;
  cursor: pointer;
}
